doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title AIR 
        link(rel="stylesheet", href="./index.css")
        script(src='https://kit.fontawesome.com/7ec1e10257.js' crossorigin='anonymous')
        link(rel='stylesheet' href='https://kit.fontawesome.com/7ec1e10257.css' crossorigin='anonymous')
        
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Unbounded&display=swap", rel="stylesheet")

    body 
        header.global-header 
            .containner
                .logo
                    a(href="#") 
                        img(src="./img/Group.png", alt="")
                .table-menu        
                    ul
                        - listMenu=["Giới Thiệu","Hạng phòng","Trải nghiệm","Khuyến mãi", "Sự kiện", "Bản đồ", "Liên hệ"]
                        - for(x=0; x<listMenu.length;x++)
                            li
                                a(href="#" title="123") #{listMenu[x]}
                .submenu 
                    ul
                        li
                            i.fa-solid.fa-earth-americas                         
                        li
                            p VN                      
                        li
                            i.fa-solid.fa-magnifying-glass
                .hotline   
                    ul
                        li
                            i.fa-solid.fa-briefcase
                        li 
                            p lien he dat ve
        
        main
            section.section-one
                .img 
                    img(src="./img/Rectangle 1192.jpg", alt="")
                .nav
                    .bar 
                        ul 
                            li Trang chủ
                        ul 
                            li  Sự kiện              
                        ul 
                            li Tin tức
                        ul 
                            li     Tin du lịch    
            section.new-section
                .container 
                    .tintuc
                        h1 Tin tức
                        nav.new-nav 
                            ul 
                                li Tất cả
                                li Tin du lịch
                                li Blogs
                                li Tuyển dụng   
                    .news-list
                        .new-1 
                            .img1 
                                a(href="#")
                                    img(src="img/Rectangle 140.jpg", alt="")
                            .caption 
                                .discription
                                    p 20/12/2022
                                    p Tin du lịch
                                h1 Thỏa sức vui đùa, vun vén tình yêu với Siêu công viên nước lớn bật nhất tại Việt Nam
                                a(href="#")
                                    i.fa-solid.fa-arrow-right
                        .new-2 
                            .img1 
                                a(href="#")
                                    img(src="img/nghe.png", alt="")
                            .caption 
                                .discription
                                    p 20/12/2022
                                    p Tin du lịch
                                h1 Thỏa sức vui đùa, vun vén tình yêu với Siêu công viên nước lớn bật nhất tại Việt Nam
                                a(href="#")
                                    i.fa-solid.fa-arrow-right
                        .new-3 
                            .img1 
                                a(href="#")
                                    img(src="img/Rectangle 140 (3).jpg", alt="")
                            .caption 
                                .discription
                                    p 20/12/2022
                                    p Tin du lịch
                                h1 Mùa giáng sinh này, mình cùng đến Amazing Island Resort nhé
                                a(href="#")
                                    i.fa-solid.fa-arrow-right
                        .new-4 
                            .img1 
                                a(href="#")
                                    img(src="img/Rectangle 140 (4).jpg", alt="")
                            .caption 
                                .discription
                                    p 20/12/2022
                                    p Tin du lịch
                                h1 Mùa giáng sinh này, mình cùng đến Amazing Island Resort nhé
                                a(href="#")
                                    i.fa-solid.fa-arrow-right
                        .new-5 
                            .img1 
                                a(href="#")
                                    img(src="img/Rectangle 140 (2).jpg", alt="")
                            .caption 
                                .discription
                                    p 20/12/2022
                                    p Tin du lịch
                                h1 Mùa giáng sinh này, mình cùng đến Amazing Island Resort nhé
                                a(href="#")
                                    i.fa-solid.fa-arrow-right
                        .new-6 
                            .img1 
                                a(href="#")
                                    img(src="img/Rectangle 140 (5).jpg", alt="")
                            .caption 
                                .discription
                                    p 20/12/2022
                                    p Tin du lịch
                                h1 Mùa giáng sinh này, mình cùng đến Amazing Island Resort nhé
                                a(href="#")
                                    i.fa-solid.fa-arrow-right  
                        .new-6 
                            .img1 
                                a(href="#")
                                    img(src="img/Rectangle 140 (7).jpg", alt="")
                            .caption 
                                .discription
                                    p 20/12/2022
                                    p Tin du lịch
                                h1 Mùa giáng sinh này, mình cùng đến Amazing Island Resort nhé
                                a(href="#")
                                    i.fa-solid.fa-arrow-right
                        .new-6 
                            .img1 
                                a(href="#")
                                    img(src="img/Rectangle 140 (6).jpg", alt="")
                            .caption 
                                .discription
                                    p 20/12/2022
                                    p Tin du lịch
                                h1 Mùa giáng sinh này, mình cùng đến Amazing Island Resort nhé
                                a(href="#")
                                    i.fa-solid.fa-arrow-right
                        .new-6 
                            .img1 
                                a(href="#")
                                    img(src="img/Rectangle 140 (8).jpg", alt="")
                            .caption 
                                .discription
                                    p 20/12/2022
                                    p Tin du lịch
                                h1 Mùa giáng sinh này, mình cùng đến Amazing Island Resort nhé
                                a(href="#")
                                    i.fa-solid.fa-arrow-right
                        .new-6 
                            .img1 
                                a(href="#")
                                    img(src="img/Rectangle 140 (9).jpg", alt="")
                            .caption 
                                .discription
                                    p 20/12/2022
                                    p Tin du lịch
                                h1 Mùa giáng sinh này, mình cùng đến Amazing Island Resort nhé
                                a(href="#")
                                    i.fa-solid.fa-arrow-right  
                        .phantrang 
                            ul 
                                li 
                                    p  1
                                li 
                                    p 2
                                li 
                                    p 3                  
                                    
            .footer-one 
                .logo 
                    a(href="#")
                        img(src="./img/Group.png", alt="sad") 
                .dis 
                    p Amazing Island Resort
                    p Thành phố du lịch sinh thái Sơn Tiên Quốc lộ 51 Khu phố 4, phường An Hòa, thành phố Biên Hòa, tỉnh Đồng Nai
                .hotline 
                    .contact
                        p Hotline
                        p 1900 633 087
                    .media
                        ul 
                            li
                                i.fa-brands.fa-facebook
                        ul 
                            li
                                i.fa-brands.fa-tiktok
                        ul 
                            li
                                i.fa-brands.fa-instagram      
                .about
                    .email 
                        h4 Email
                        p info@amazingislandresort.com.vn
                    .website
                        h4 Website
                        p amazingislandresort.com.vn
            .footer-two 
                p © 2023 Amazing Island Resort. All rights reserved.
                .liscen 
                    p Điều khoản sử dụng
                    p Chính sách bảo mật
                    p Sitemap

