@import 'mixin';
 * {   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.global-header {      
    background-color:#703C00 ;
    width: 1920px;   
}
.containner {
    margin-left: 304px;
    display: flex;
    align-items: center;
    .logo {
        width: 104px;
        padding: 7px 0;
    }
    .table-menu {
        margin: 23px 0 23px 56px;  
        ul {
            display:flex;
            gap: 44px;          
                li {
                    padding: 5px 0;
                    list-style-type: none;
                    display: inline-block;
                    display: flex;
                    height: 70px;
                    align-items: center;                           
                    a {
                        width: 107px;
                        display: block;
                        text-decoration: none;
                        color: #FFFFFF;
                        font-family: Unbounded;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px;          
                        img {
                            width: 100%;
                        }
                    }
                }
        }   
    }
    .submenu{
        margin-left: 9px;
        
        ul {
            list-style-type: none;
            display: flex;
            gap: 6px;
            border-left: 1px solid;
            padding-left: 6px;
            color: #FBD145;
        }
    }
    .hotline {
        display: inline-flex;
        height: 44px;
        padding: 8px 16px;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        
        ul {
            @include ulstyle();
            gap: 8px;
            background-color: #FBD145;
            padding: 8px 16px;
            border-radius: 22px;
        
        }
            li:last-child {
                font-family: Unbounded;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                color: #703C00;
            }
    }
}

.section-one {
    background: var(--secondary-gray-100, #E0E0E0);
    img {
    width: 100%;
    }
    .nav{
        margin: 0 304px;
        .bar {
            @include ulstyle();
            padding: 10px;
            align-items: center;
            gap: 8px;
            ul {
                border-right: 1px solid;
                padding-right: 6px;
            }
                li {
                    padding: 6px;
                }
            ul:last-child{
                border-right: none;
                padding-right: none;
            }
        
        
    }
    }   
}

.section-two {
    padding-top: 80px;
}
.container {
    margin: 0 250px;
}
.danhsach {    
        display: flex;       
        gap: 50px;
        position: relative;
    .baiviet1{
        gap: 20px;
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .new-header {
        display: flex;
        flex-direction: column;
        gap: var(--5, 20px);
        border-bottom: 1px solid lightgray;
        padding-bottom: 20px;
    }
    @include contentstyle();
    ul {
        @include ulstyle();
        flex-direction: column;
        gap: 8px;
        position: absolute;
        left: -88.8889px;
        li {
            
            background-color: #703C00;
            border-radius: 999px;
            a {
                display: flex;
                justify-content: center;
                align-items: center;    
                width: 50px;
                height: 50px;
            }
            i {
                color: #F5F5F5;
            }
    }
    }
    .baiviet2 {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 10p;
        .new-header{
            border: none;
        }     
        @include contentstyle2();
    }
        
    }



footer{
    display: flex;
    width: 1920px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    bottom: 0;
    height: 254px;
    background: var(--neutral-50, #F5F5F5);
}
.footer-one {
    display: flex;
    height: 190px;
    padding: 40px 304px;
    align-items: flex-start;
    gap: 32px;
    .logo {
        width: 304px;
        height: 100px;
        display: flex;
        height: 100px;
        padding-right: 0px;
        align-items: center;
        a {
            display: block;
        }
            img {
                width: 100%;
            }
    }
    .dis{
        width: 304px;
        height: 92px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        p:nth-child(1){
            font-family: Unbounded;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px
        }
        p {
            color: var(--neutral-900, #090909);
            text-align: justify;
            /* Body Unbounded/Text 5 Regular */
            font-family: Unbounded;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }
    }
    .hotline {
        width: 304px;
        height: 104px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        .contact {
            p:nth-child(1) {
                color: var(--neutral-900, #090909);
                
                font-family: Unbounded;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
            }
            p {
                color: var(--secondary-400, #AA7333);
                /* Body Unbounded/Text 4 Bold */
                font-family: Unbounded;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px; /* 142.857% */
            }
        }
        .media {
            width: 164px;
            height: 48px;
            display: flex;
            align-items: flex-start;
            gap: 10px;
            ul {
                @include ulstyle();
                display: flex;
                width: 48px;
                height: 48px;
                justify-content: center;
                align-items: center;
                & > li {
                    border-radius: 24px;
                    background: var(--secondary-600, #703C00);
                    width: 48px;
                    height: 48px;
                }
            }
                
            ul > li > i {
                color: var(--neutral-white, #FFF);
                text-align: center;
                font-family: Font Awesome 6 Brands;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: flex;
                width: 48px;
                height: 48px;
                flex-direction: column;
                justify-content: center;
                flex-shrink: 0;
            }
        }       
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;       
        h4 {
            color: var(--neutral-900, #090909);

            /* Body Unbounded/Text 4 Bold */
            font-family: Unbounded;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 142.857% */
        }
        p:last-child {
            color: var(--secondary-400, #AA7333);

            /* Body Unbounded/Text 4 Bold */
            font-family: Unbounded;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 142.857% */
        }
    }
}
.footer-two {
    width: 1920px;
    display: flex;
    height: 64px;
    padding: 22px 304px;
    align-items: center;
    gap: 349px;
    background: var(--secondary-600, #703C00);
    & > p {
        width: 554px;
        height: 17.067px;
        color: var(--neutral-white, #FFF);

        /* Body Unbounded/Text 5 Regular */
        font-family: Unbounded;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
    }
    .liscen {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 16px;
    
        & > p  {
            color: var(--neutral-white, #FFF);

            /* Body Unbounded/Text 5 Regular */
            font-family: Unbounded;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
        }
    }
}